*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*makes sure no alteration of pure letter shape and size*/

body{
    background-image: url(picture);
    background-size: cover;
    font-family: sans-serif;
}

/*centers image, don't add centering for best results*/

.menu-bar{
    background: color;
    text-align: center;

}

/*background of overall top bar, brings words to the middle*/

.menu-bar ul{
    display: inline-flex;
    list-style:none;
    color: color;

}