*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*makes sure no alteration of pure letter shape and size*/

body{
    background-color: white;
    background-size: cover;
    font-family: sans-serif;
}

/*centers image, don't add centering for best results*/

.menu-bar{
    background: darkcyan;
    text-align: center;

}

/*background of overall top bar, brings words to the middle*/

.menu-bar ul{
    display: inline-flex;
    list-style:none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
}

/*font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; */

.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 15px;
    border-left: 200px;
    border-right: 200px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Monsterrat';

}

.active:hover{
    background: salmon;
    border-radius: 20px;
}

.menu-bar , .sub-menu-1, .fa{
    text-align: left;
    margin-left: 8px;
}

.sub-menu-1{
    display: none;
    float: left;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: skyblue;
    margin-top: 15px;
    margin-left:-15px;
    border-radius: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    border-radius: 20px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    border-radius: 0px;
    background: transparent;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
border-bottom:none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: lightseagreen;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}