{% extends "base.html" %}

    {% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}    

    <form method="POST" action="/dashboard/add-patient">
        <button type="submit" name="add_patient" value="Add_Patient"> Add Patient </button>
    </form>
    <br>
    <form method="POST" action="/dashboard/join-patient">
        <input type="text" name="access_token" placeholder="Token">
        <button type="submit" name="join_patient">Add patient that already exists</button>
    </form>
    <br>
    <ul>
        {% for patient in tokens_list %}
            {% if patient[1] == None %}
            <li> Unconfirmed </li>
            {% else %}
            <li><a href="{{url_for('dashboard.dashboard_view_patient', token=patient[0])}}">{{patient[1]}}</a></li>
            {% endif %}
            <li>{{patient[0]}}</li>
        {% endfor %}
    </ul>
{% endblock %}